$main-color = #800080

body
    font: 14px/1.5 Helvetica, arial, sans-serif;
    #logo
        border-radius: 5px;

.submit-btn
    -fx-background-color $main-color
    -fx-text-fill #FFF
    &:hover
        -fx-border 1px
        -fx-border-color $main-color
        -fx-background-color #fff